PORT=3000
DATABASE_URL=postgresql..
JWT_ACCESS_SECRET=kkkakkadjiwiqjjammaskkkakkakakwowwjqjqjqjwiw
JWT_REFRESH_SECRET=s9219199@@#!#**090anothersecret
JWT_ACCESS_EXPIRE_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
APP_URL=http://localhost:3000
RESEND_API_KEY=
DB_HOST=localhost
DB_PASSWORD=root
DB_NAME=nest
DB_PORT=5432
DB_USER=postgres
